<!doctype html>
<html lang="en">
  <head>
  	<title>Contact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="{{ url_for('static', path='css/contact.css') }}" rel="stylesheet">
	</head>
	<body>
        <div class="background">
            <div class="container">
              <div class="screen">
                <div class="screen-header">
                  <div class="screen-header-left">
                    <div class="screen-header-button close"></div>
                    <div class="screen-header-button maximize"></div>
                    <div class="screen-header-button minimize"></div>
                  </div>
                  <div class="screen-header-right">
                    <div class="screen-header-ellipsis"></div>
                    <div class="screen-header-ellipsis"></div>
                    <div class="screen-header-ellipsis"></div>
                  </div>
                </div>
                <form class="contact_form">
                <div class="screen-body">
                  <div class="screen-body-item left">
                    <div class="app-title">
                      <span>CONTACT</span>
                      <span>ME</span>
                    </div>
                    <!-- <div class="app-contact">CONTACT INFO : +62 81 314 928 595</div> -->
                  </div>
                    <div class="screen-body-item">
                        <div class="app-form">
                        <div class="app-form-group">
                            <input class="app-form-control" id="name" placeholder="Your name">
                        </div>
                        <div class="app-form-group">
                            <input type="email" class="app-form-control" id="email" placeholder="Your email">
                        </div>
                        <div class="app-form-group">
                            <input class="app-form-control" id="phone" placeholder="Your phone number">
                        </div>
                        <div class="app-form-group message">
                            <input class="app-form-control" id="message" placeholder="Your Message">
                        </div>
                        <div class="app-form-group buttons">
                            <!-- <button class="app-form-button">CANCEL</button> -->
                            <button class="app-form-button">SEND</button>
                        </div>
                        </div>
                    </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        <script src="{{ url_for('static', path='js/contact.js') }}"></script>
	</body>
</html>
